<p style="color: green"><%= notice %></p>

<% content_for :title, "Tasks" %>

<h1>incomplete Task here♥</h1>

<div id="tasks">
  <% @incomplete_tasks.each do |task| %>
    <%= render task %>
    <p>
      <%= link_to 'Mark as Complete', toggle_status_path(task) %>
      <%= link_to "Show this task", task %>
    </p>
  <% end %>
</div>

<%= link_to "New task", new_task_path %>
<%= link_to "Complete tab", complete_path %>
